---
layout: layout
---

{{ content }}


<footer class="footer">
  <div class="container">
    <div class="row text-muted mt centered">
      <p>Fortnightly Camden dinner club</p>
    </div>
    <div  class="row centered">
      <div class="col-xs-1 col-xs-offset-5"><a href="mailto:info@bergamotandblack.com?Subject=Inquiry" target="_top"><i class="fa fa-envelope-o fa-lg"></i></a></div>
      <div class="col-xs-1"><a href="https://instagram.com/bergamotandblack" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></div>
    </div>
  </div>
</footer>
